.field-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem 1rem 1.5rem;
}

.field-input__header {
  margin-bottom: 0.25rem;
}

.field-input input {
  font-size: 1rem;
  letter-spacing: 0.5px;
  border-radius: 0.25rem;
  border-width: 1px;
  border-style: double;
  padding: 0.75rem;
  min-width: 25rem;
}

.field-input_header--required {
  color: red;
}

.field-input input::placeholder {
  letter-spacing: 0.5px;
}

.field-input input:focus {
  outline: none;
  border-color: #5b63ff;
  box-shadow: 0px 0px 5px 0px #5b63ff;
}

.field-input--error input {
  border-color: red;
}

.field-input--error input:focus {
  border-color: red;
  box-shadow: 0px 0px 5px 0px red;
}
